<div class="main">
<div class="spin">
  <button (click)="spinWheel()">Spin the Wheel</button>
  <p>{{ wheelResult }}</p>
  <p *ngIf="extraSpin">You have an extra spin!</p>
</div>


<div class="random">
  <button (click)="randommessage()">CLICK ME</button>
  <p>{{randomMessage}}</p>
</div>



<br>

<div class="error">
  <input type="text" [(ngModel)]="inputValue" placeholder="Enter text here">
  <p [ngStyle]="{'color': inputValue ? 'blue' : 'red'}">{{ inputValue | error:'Input is too short':3 }}</p>
</div>
</div>

